body {
  margin: 0;
  font-family: -apple-system, 'Courier New', Courier, monospace, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: gray;
}

header {
  background-color: lightgray;
}

main {
  background-color: silver;
}

a {
  text-decoration: none;
  color:black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a img:hover {
  opacity: .7;
}

.github-logo {
  height: 1em;
  width: 1em;
}